@model Onion.Infrastructure.Data.ViewModels.Authtentication.UserRelated.PasswordResetModel

@using (Html.BeginForm("ResetPasswordForUser", "Account"))
{
    <main class="form-signin border-0">
        <form>
            <div asp-validation-summary="All">
                <h1 class="h3 mb-3 fw-normal text-center">Reset password</h1>
                <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="PasswordRepeat" id="inputPassword1" class="form-control" placeholder="Repeat Password" required>
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                @if (TempData["ErrorMessage"] != null)
                {
                    <h5 style="color:red">@TempData["ErrorMessage"]</h5>
                }

                <button formmethod="post" class="w-100 btn btn-lg btn-primary mb-3" type="submit">Set password</button>
            </div>
        </form>
    </main>
}