@model Onion.Infrastructure.Data.ViewModels.CustomerViewModel
<h2>Create Customer</h2>

@using (Html.BeginForm("Create", "Customer"))
{
    <div class="row">
        <div class="border container" style="padding:30px">
            <div class="col-md-12">
                <div class="form-group input-group">
                    <div class="col-sm-3">
                        <label class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-2">
                        <label class="control-label">Postal Code</label>
                        <input asp-for="PostalCode" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Additional Info</label>
                    <textarea maxlength="50" asp-for="AdditionalInfo" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-9">
                    <input type="submit" formmethod="post" value="Create Customer" class="btn btn-primary col-md-3" />
                    <button formmethod="get" asp-controller="Customer" asp-action="Overview" class="btn btn-success  col-md-3">Back to overview</button>
                </div>
            </div>
        </div>
    </div>
}